body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ecfd0e, #fff, #6100ff, #000000);
}

header {
    background-color: #eb85e1;
    color: #fff;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.pronouns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1, h2, h3 {
    margin: 0;
}

main {
    padding: 20px;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links li {
    margin: 20px;
    text-align: center;
}

.social-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: translateY(-5px);
}

.social-links img {
    width: 100px; 
    height: 100px; 
    margin-bottom: 10px;
    cursor: pointer; 
    opacity: 0; 
    transform: translateX(100%);
}

footer {
    background-color: #eb85e1;
    color: black;
    padding: 20px;
    text-align: center;
}
